@model RegisterViewModel

<div class="register-container">
    
@{
    ViewData["Title"] = "Register";
}
    <div class="form-container">
<h1 class="text-info">@ViewData["Title"]</h1>

        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="register-form" method="post" role="form">
    <h4>Create a new account.</h4>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-3 control-label"></label>
        <div class="col-md-12">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-3 control-label"></label>
        <div class="col-md-12">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-3 control-label"></label>
        <div class="col-md-12">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Password" class="col-md-3 control-label"></label>
        <div class="col-md-12">
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-4 control-label"></label>
        <div class="col-md-12">
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <button type="submit" class="btn btn-success btn-block form-control">Register</button>
        </div>
    </div>
</form>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
